<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>GIDClientID</key>
	<string>366043307503-mjhnvojdadrdbjgg9d5oa7qgoqupggg3.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to insert photos into your notes.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone for voice transcription.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Bold.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.google.reversed-client-id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.366043307503-mjhnvojdadrdbjgg9d5oa7qgoqupggg3</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
